<!-- <section class="overflow-hidden py-8 px-6 sm:py-16 sm:px-30 flex items-center bg-black text-white">
  <div>
    <h2 class="mb-8 text-white inter-medium">Our Group</h2>
    <div class="grid grid-cols-2 md:grid-cols-12 gap-6">
      <div class="col-span-2 md:col-span-6">
        <h2
          class="text-[20px] leading-[33px] sm:text-[32px] sm:leading-[38px] md:text-[38px] md:leading-[46px] inter-bold p-2 pl-0 mb-6 max-w-xl"
        >
          We are driven by a shared
          <br />
          passion for delivering
          <br />
          innovative, impactful
          <br />
          solutions that inspire growth
          <br />
          and shape the future across industries.
        </h2>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/1.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg font-semibold text-[16px]">Mr. Alex Lowell</h3>
          <p class="text-gray-400 text-[16px]">Chairman</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/2.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg font-semibold text-[16px]">Mr. Damitha Kariyawasam</h3>
          <p class="text-gray-400 text-[16px]">Group Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/3.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg font-semibold text-[16px]">Mr. Mithila Mendis</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/11.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg text-[16px] font-semibold">Mr. Basil Xavier</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/6.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg text-[16px] font-semibold">Mr. Raajiv Wanigasekara</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/8.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg text-[16px] font-semibold">Mr. Ruwan Weerasinghe</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/9.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg text-[16px] font-semibold">Mr. Dushy Thillaivasan</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/5.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg text-[16px] font-semibold">Mr. Dinuk Hettiarachchi</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/0.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg font-semibold text-[16px]">Mr. Pramodya Wikkramasinghe</h3>
          <p class="text-gray-400 text-[16px]">Group Chairman</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/0.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg text-[16px] font-semibold">Mr. Bagya Kariyawasam</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/0.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg text-[16px] font-semibold">Mr. Irshad Ally</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
      <div class="md:col-span-3 rounded-lg transition-shadow duration-300 ease-in-out">
        <img
          src="/images/home/our-team/0.png"
          alt="Team Member"
          class="rounded-lg w-full aspect-square object-contain"
        />
        <div class="flex flex-col gap-1 p-4">
          <h3 class="text-lg text-[16px] font-semibold">Mr. Sanjeew Malalasekara</h3>
          <p class="text-gray-400 text-[16px]">Director</p>
        </div>
      </div>
    </div> -->

    <!-- See All Members Button with Angular-style routing -->
    <!-- <div class="flex justify-center mt-8 px-4 md:px-0">
      <button 
        class="w-full md:w-full max-w-10xl mx-auto flex items-center justify-center px-6 py-3 bg-transparent text-white rounded-3xl border-2 border-[#282828] hover:bg-[#353535] transition-colors duration-300 ease-in-out cursor-pointer" 
        [routerLink]="['/aboutus']" (click)="scrollToTop()"
      >
        See all members
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/>
          <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
</section>-->
