<section class="overflow-hidden py-8 px-6 sm:py-16 sm:pt-32 sm:px-30 bg-black">
  <div class="flex items-center justify-center">
    <div class="sm:pb-16">
      <h2 class="mb-8 text-white inter-medium">About Us</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <h2 class="gradient-header text-[36px] sm:text-[48px] leading-[42px] sm:leading-[54px] inter-bold">
            A Legacy of Excellence Across Industries.
          </h2>
          <div class="flex flex-col justify-center w-full mt-4 text-left">
            <p class="text-gray-600 font-normal text-base leading-6 font-['Inter']">
              Building a Future of Innovation and Impact Across Diverse Sectors.
            </p>
          </div>
        </div>

        <div class="text-[#A1A1AA] text-[16px] sm:text-[18px] text-justify">
          <p>
            At KapitalCorp, we are more than just a consultancy; we are a diverse, multidisciplinary organization
            dedicated to driving impactful change across various industries.
            <span class="text-[#A1A1AA]">
              With decades of experience, our team collaborates with trusted partners to deliver tailored solutions that
              not only meet the immediate needs of businesses but also pave the way for long-term growth and
              sustainability.
            </span>
            Our expertise spans a wide range of sectors, ensuring that we can address the unique challenges and
            opportunities in each industry, from infrastructure development to technology advancements. We are committed
            to creating lasting value for our clients and building a better future for communities worldwide.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- logo carousel -->
  <!-- <div class="flex justify-center items-center">
    <div class="slider w-full bg-black overflow-hidden">
      <div class="slider-track slider-animation flex gap-16 p-16">
        <div class="slide">
          <a href="https://www.kapitalcorp.lk/" target="_blank">
            <img
              src="/images/home/about-us/1.png"
              class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
            />
          </a>
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/2.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200 cursor-pointer"
            (click)="navigateToCompany('/images/home/about-us/2.png')"
            alt="Medcube"
          />
        </div>
        <div class="slide">
          <a href="http://localhost:4200/#/company/12" target="_blank">
            <img
              src="/images/home/about-us/3.png"
              class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
            />
          </a>
        </div>
        <div class="slide">
          <a href="http://localhost:4200/#/company/13" target="_blank">
            <img
              src="/images/home/about-us/4.png"
              class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200 cursor-pointer"
              (click)="navigateToCompany('/images/home/about-us/4.png')"
              alt="Thinkcube"
            />
            </a>
        </div>
        <div class="slide">
          <a href="https://www.kapitalcorp.lk/" target="_blank">
            <img
              src="/images/home/about-us/5.png"
              class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
            />
          </a>
        </div>
        <div class="slide">
          <a href="https://www.kapitalcorp.lk/" target="_blank">
            <img
              src="/images/home/about-us/6.png"
              class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
            />
          </a>
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/1.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/2.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/3.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/4.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/5.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/6.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/1.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/2.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/3.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/4.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/5.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
        <div class="slide">
          <img
            src="/images/home/about-us/6.png"
            class="h-16 grayscale-0 opacity-100 hover:opacity-50 hover:grayscale transition-all duration-200"
          />
        </div>
      </div>
    </div>
  </div> -->
</section>
