.gradient-header {
  font-weight: bold;
  background: linear-gradient(to right, #000000, #4b5563);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

:host-context(.dark) .gradient-header, .dark .gradient-header {
  background: linear-gradient(to right, #ffffff, #71717a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// logo carousel
.slider .slider-animation {
  // width: 3600px;
  width: 36000px;
  animation: scroll 20s linear infinite;
}
.slider .slider-animation:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
